.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

/* For WebKit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #121212; /* Dark background */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #252525; /* Green thumb for contrast */
    border-radius: 10px;
    border: 2px solid #121212; /* Adds spacing around the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #252525; /* Lighter green on hover */
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #252525 #121212;
}

